<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="net.kyouko.cloudier"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CloudierApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AuthActivity"
            android:label="@string/title.activity.auth">
        </activity>
        <activity
            android:name=".ui.activity.TweetDetailActivity"
            android:label="@string/title.activity.tweet_detail">
        </activity>
        <activity
            android:name=".ui.activity.ComposerActivity"
            android:label="@string/title.activity.composer">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserActivity">
        </activity>
        <activity
            android:name=".ui.activity.NotificationsActivity"
            android:label="@string/title.activity.notifications">
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title.activity.settings">
        </activity>
    </application>

</manifest>
